@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #3d0c11;
  --accent: #800000;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans, sans-serif);
}

.scrollbar-hide {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}